.search-bar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: transparent;
	display: flex;
	justify-content: center;
	z-index: 1000;
}

.form {
	margin: 40px;
	display: flex;
	align-items: center;
}

.search {
	position: relative;
	font-size: 26px;
	padding: 20px 30px;
	width: 30vw;
	border-radius: 100px;
	border: 1px solid #444;
	outline: none;
	background-color: #272727;
	caret-color: #aaa;
	color: #ddd;
}

.search::placeholder {
	color: #999;
}