.favourites-row {
	display: flex;
	overflow-x: hidden;
	background-color: #222;
	align-items: center;
	scroll-behavior: smooth;
	padding: 40px 120px;
	height: 680px;
}

.row-button {
	position: absolute;
	margin: 60px;
	font-size: 40px;
	background-color: transparent;
	border: none;
	color: #ddd;
	cursor: pointer;
	transition: 0.2s;
}

.row-button:active {
	transform: scale(0.8);
}

#forward-button {
	right: -10px;
}
#back-button {
	left: -10px;
}
