@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

#root {
	background-color: #222;
}

.row-title {
	margin-top: 50px;
}
