.movie {
	position: relative;
	margin: 20px;
	z-index: 100;
	transition: 0.2s;
	animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 0.2s;
	display: inline;
}

.movie:hover {
	transform: scale(1.1);
}

.movie-image {
	position: relative;
	width: 300px;
	border-radius: 20px;
	height: 480px;
	z-index: 100;
	box-shadow: 0 0 10px black;
	transition: 0.2s;
}

.movie:hover .save {
	bottom: -50px;
}

.save {
	position: absolute;
	width: 100%;
	bottom: 4px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #222;
	overflow: hidden;
	z-index: 0;
	transition: 0.2s;
	border-radius: 0 0 20px 20px;
}

.save-button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 80px;
	font-size: 30px;
	padding: 15px;
	cursor: pointer;
	color: #ddd;
	border: none;
	background-color: transparent;
	transition: 0.2s;
}

.save-icon {
	height: 28px;
	transition: 0.1s;
}

.save-button:active .save-icon {
	transform: scale(0.8);
}

.add {
	background-color: #1eb01e;
}

.remove {
	background-color: #b01e1e;
}

.add:hover {
	background-color: #178917;
}

.remove:hover {
	background-color: #891717;
}

.no-image {
	width: 300px;
	border-radius: 20px;
	height: 480px;
	box-shadow: 0 0 10px black;
	z-index: 500;
}

@media screen and (max-width: 1170px) {
	.movie {
		margin: 60px 20px;
	}

	.movie:hover {
		transform: scale(1);
	}

	.save {
		z-index: 900;
		justify-content: center;
		bottom: -76px;
	}

	.save-button {
		align-items: center;
	}

	.movie:hover .save {
		bottom: -76px;
	}

	.movie-image {
		border-radius: 20px 20px 0 0;
	}
}
