.row {
	display: flex;
	overflow-x: hidden;
	background-color: #222;
	align-items: center;
	scroll-behavior: smooth;
	padding: 40px 120px;
	height: 680px;
}

.row-button {
	position: absolute;
	margin: 60px;
	font-size: 40px;
	background-color: transparent;
	border: none;
	color: #ddd;
	z-index: 550;
	cursor: pointer;
	transition: 0.2s;
}

.row-button:active {
	transform: scale(0.8);
}

#forward-button {
	right: -10px;
}

#back-button {
	left: -10px;
}

.row-title {
	background-color: #222;
	color: #ddd;
	padding: 0 80px;
}


@media screen and (max-width: 1170px) {
	.row {
		display: flex;
		flex-wrap: wrap;
		height: fit-content;
		justify-content: center;
		padding: 40px 40px;
	}

	.row-button {
		display: none;
	}
}